<ul class="list-inline">

  <li class="list-inline-item">
    <a href="https://www.linkedin.com/in/connorleech/" target='_blank'>
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </li>

  <li class="list-inline-item">
    <a href="https://medium.com/@connorleech" target='_blank'>
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-medium fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </li>

  <li class="list-inline-item">
    <a href="https://twitter.com/Connor11528" target='_blank'>
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </li>

  <li class="list-inline-item">
    <a href="https://github.com/connor11528" target='_blank'>
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-github fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </li>

</ul>
