<!-- Header -->
<header>
    <div class="columns">
      <div class='column is-offset-2 is-6 top-offset-200'>
        <h1 style='font-weight:700;'>Hi, I'm Connor</h1>
        <p>I make things for the web using AWS, Javascript and PHP.</p>
        <p>Previously, I've worked as a Sr. Technical Recruiter at Mondo and a door to door fundraiser at the Appco Group, representing Children International.</p>
        <p>I'm a soon to be Dad and live in the Bay Area</p>
        <br>
        <a class='underline-link' href='mailto:connorleech@gmail.com'>Email me</a>
      </div>
      <div class='column is-3 top-offset-200'>
        <ul role='navigation' class='navigation'>
          <li>
            <a href="/blog" class='underline-link'>
              Blog
            </a>
          </li>
          <li>
            <a href="https://github.com/connor11528" class='underline-link' target='_blank'>
              Github
            </a>
          </li>
          <li>
            <a href="https://twitter.com/Connor11528" class='underline-link' target='_blank'>
              Twitter
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/connorleech/" class='underline-link' target='_blank'>
              LinkedIn
            </a>
          </li>
        </ul>
      </div>
    </div>
</header>

