<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.css'>

<h1><%= page.tag %></h1>
<ul>
    <% site.tags.findOne({'name': page.tag }).posts.each(function(post) { %>
        <li class="archive-post">
            <a class="archive-post-title" href="<%- url_for(post.path) %>">
                <%= post.title || '(' + __('post.no_title') + ')' %>
            </a>
            <span class="archive-post-date">
                <%= ' - ' + post.date %>
            </span>
        </li>
    <% }) %>
</ul>