footer.footer
  .container
    .row
      .col-sm-3
      .col-sm-3
      .col-sm-3
        h4 Connect
        ul
          li 
            a(target='_blank' href="https://github.com/connor11528") GitHub
          li 
            a(target='_blank' href="https://www.linkedin.com/in/connorleech") LinkedIn
          li 
            a(target='_blank' href="https://twitter.com/connor11528") Twitter
      .col-sm-3
        h4 Inquiries
        ul
          li 
            a(href='mailto:connorleech@gmail.com') connorleech@gmail.com

