extends base

block site_body

  // Home
  section#home
    .container.hero
      .row.copy
        .col-md-6.col-md-offset-2
          h1(style='color:#494949;') Hi I'm Connor.
          p I work at 
            a(href="https://www.stitchlabs.com/") Stitch Labs
            |  and build 
            a(href="https://employbl.com/") Employbl

          p Employbl is a site for candidates and employers to find employment matches in the Bay Area. Use it to find candidates, jobs or explore the market.

          p Stitch Labs is inventory and order management for high growth retail brands.
          

  section#about.content-section
    .container
      .row
        .copy.col-md-8.col-md-offset-2
          .about.wow.fadeIn
            div
              .row
                .col-sm-6
                  figure
                    a(href='https://employbl.com/' target='_blank')
                      img(src='https://i.imgur.com/wr3HpOk.png', class="img-rounded")
                    h2(style='color:#494949;') Employbl
                    figcaption Employbl is a site I built for candidates and employers in the Bay Area. You're free to sign up as an employer or candidate today! Generate a profile, search for talent and post jobs on one site.

                .col-sm-6
                    figure
                      a(href='https://codenation.org/volunteers/' target='_blank')
                        img(src='https://i.imgur.com/HYY45uC.png', class="img-rounded")
                      h2(style='color:#494949;') Code Nation
                      figcaption Code Nation is a non-profit for teaching students in under-resourced high schools how to code. I volunteer as a Coding Teacher with them twice at Aspire Golden State High School in Oakland.

