extends base

block site_body
  .container#archive
    .row 
      include _partial/post/category_sidebar
      .col-xs-12.col-md-8
        include _partial/post/entry
        include _partial/post/entry_pagination
